<div class="wrapper">
  <div class="game-area">
    <a class="button back" routerLink="../">Menu</a>
    <h3 class="title">HOW TO PLAY</h3>
    <hr>
    <p>First of all you should remind school lessons of mathematics and english.
        There are six level (ninjas) where you must use one of the attack methods
    </p>
    <ul>
      <li>arithmetics</li>
      <li>translation</li>
      <li>drag letters to construct a correct word</li>
      <li>listen a pronounciation and write the word</li>
    </ul>
    <p>
      Each of the attack methods has its own damage level and you should have this in mind. If you don't solve the task,
      the opponent damages you according to the damage level of the task.
    </p>
  </div>
</div>
